# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: sdummett <marvin@42.fr>                    +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2021/03/09 22:53:30 by sdummett          #+#    #+#              #
#    Updated: 2021/03/24 15:28:42 by sdummett         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

*.out
*.a
*.o
*.so
*.gch
*.swp
